
.reviews__container {
  justify-content: space-between;
  padding-top: 170px;
  padding-bottom: 160px;

}

.reviews__content {
  width: 300px;
}

.reviews-title {
  margin-bottom: 45px;
}

.reviews__right {
  flex-direction: column;
  max-width: 750px;
}

.navigation {
  justify-content: flex-end;
  padding-bottom: 60px;
}

.preview {
  background-image: url('/img/next.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 13px;
  display: inline-block;
  margin-right: 30px;
  transform: rotate(180deg);
}

.next {
  background-image: url('/img/next.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 13px;
  display: inline-block;
  margin-right: 30px;
}

.swiper {
  width: 990px;
  min-height: 360px;
}

.swiper-slide {
  padding: 60px 50px 40px;
  background-color: var(--color-white);
  border-radius: 10px;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  box-sizing: border-box;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}

.swiper-button-disabled {
  opacity: 0.5;
}

.swiper-slide:not(.swiper-slide-active, .swiper-slide-next) {
  opacity: 0.5;
}

/* .reviews__slide-descr {
  padding-bottom: 15px;
} */

.reviews__person {
  gap: 20px;
  align-items: center;
}

.person-ava {
  width: 60px;
  height: 60px;
}

.person-title {
  line-height: 24px;
}
